<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">
                                <h6>Cantáctame</h6>
                                <h2>Completa el Siguiente Formulario <span> y </span> ponte <em>en</em> Contacto conmigo
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="name" name="name" id="name" placeholder="Nombre" autocomplete="on"
                                            required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="surname" name="surname" id="surname" placeholder="Apellido"
                                            autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                            placeholder="Tu Email" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        <input type="subject" name="subject" id="subject"
                                            placeholder="Asunto" autocomplete="on" >
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" type="text" class="form-control" id="message"
                                            placeholder="Mensaje" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button ">Enviar Mensaje
                                            Ahora</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contact-info">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <img src="assets/images/contact-icon-01.png" alt="email icon">
                                        </div>
                                        <a href="#">{{miPortfolio.correo}}</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="assets/images/contact-icon-02.png" alt="phone">
                                        </div>
                                        <a href="#">{{miPortfolio.telefono}}</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="assets/images/contact-icon-03.png" alt="location">
                                        </div>
                                        <a href="#">{{miPortfolio.domicilio}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
