<div id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-content">
                    <div class="row">
                        <div *ngIf="modoEdit">
                            <i type="button" class="icon-copy fa fa-plus" data-bs-toggle="modal" data-bs-target="#modalAE" aria-hidden="true" data-placement="top" 
                            title="Agregar" style="cursor:pointer; cursor: hand" (click)="datosPersona()"> 
                            </i>    
                        </div>
                        <div *ngFor="let estudios of listaEstudios; index as a" class="col-lg-3">

                            <div class="features-item  wow fadeInUp" data-wow-duration="1s"
                                data-wow-delay="2s">                        
                                <div class="first-number number">
                                    <h6>{{estudios.id}}</h6>
                                </div>
                                <div class="icon" style="background-image: url({{estudios.url_imagen}});background-size: cover;"></div>
                                <h4>{{estudios.titulo}}</h4>
                                <div class="line-dec"></div>
                                <p>{{estudios.descripcion}}</p>
                                <div class="line-dec"></div>
                                <div *ngIf="modoEdit">
                                <i class="icon-copy fa fa-pencil" data-bs-toggle="modal" data-bs-target="#modalME" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar"
                                    style="cursor:pointer; cursor: hand" (click)="datosEditEstu(a)"></i>
                                <a> | </a>
                                <i class="icon-copy fa fa-trash" data-bs-toggle="modal" data-bs-target="#modalEE"   aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                    style="cursor:pointer; cursor: hand" (click)="datosEliEstu(a)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="skills-content">
                    <div class="row">
                        <div *ngIf="modoEdit">
                            <i type="button" class="icon-copy fa fa-plus" data-bs-toggle="modal" data-bs-target="#modalAEx" aria-hidden="true" data-placement="top" 
                            title="Agregar" style="cursor:pointer; cursor: hand" (click)="datosPersonaEx()"> 
                            </i>    
                        </div>                        
                        <div *ngFor="let experiencia of listaExperiencia, index as e" class="col-lg-3">
                            <div *ngIf="modoEdit">
                                <i class="icon-copy fa fa-pencil" data-bs-toggle="modal" data-bs-target="#modalMEx" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar"
                                    style="cursor:pointer; cursor: hand" (click)="datosEditExpe(e)"></i>
                                <a> | </a>
                                <i class="icon-copy fa fa-trash" data-bs-toggle="modal" data-bs-target="#modalEEx"   aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                    style="cursor:pointer; cursor: hand" (click)="datosEliExpe(e)"></i>
                            </div>
                            <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="progress" [attr.data-percentage]="experiencia.porcentaje">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            {{experiencia.porcentaje}}%<br>
                                            <span>{{experiencia.titulo}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAE" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Estudios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()"></button>
      </div>
      <div class="modal-body">
            <form [formGroup]="form" id="modAgregar" (ngSubmit)="onAgregar($event)">
                <div  hidden class="form-group">
                    <label for="personaId">ID</label>
                    <input type="number" formControlName="id" [(ngModel)]="idEstudio" class="form-control" [(ngModel)]="idEstudio" id="id">                 
                </div>   
                <div class="form-group">              
                <label for="titulo">Título</label>
                <input type="text"  formControlName="titulo" [(ngModel)]="titEstudio" [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 
                'is-valid': !Titulo?.errors && Titulo?.touched}"  class="form-control"  id="titulo" placeholder="Ingresa el título">
                <div *ngIf="Titulo?.hasError && Titulo?.touched">
                    <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                        El titulo es requerido
                    </p>
                    <p *ngIf="Titulo?.hasError('minlength')" class="text-danger">
                        Debe ingresar mínimo 5 caracteres
                    </p>
                    <p *ngIf="Titulo?.hasError('maxlength')" class="text-danger">
                        Debe ingresar máximo 250 caracteres
                    </p>                    
                </div>
            </div>
            <div class="form-group">
                <label for="titulo">Descripción</label>
                <input type="text" formControlName="descripcion"  class="form-control" [(ngModel)]="desEstudio" id="descripcion" placeholder="Ingresa la descripción" [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 
                'is-valid': !Descripcion?.errors && Descripcion?.touched}">
                <div *ngIf="Descripcion?.hasError && Descripcion?.touched">
                    <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                        La Descripción es Requerida
                    </p>
                    <p *ngIf="Descripcion?.hasError('minlength')" class="text-danger">
                        Debe ingresar mínimo 5 caracteres
                    </p>
                    <p *ngIf="Descripcion?.hasError('maxlength')" class="text-danger">
                        Debe ingresar máximo 250 caracteres
                    </p>                    
                </div>                
            </div>

            <div class="form-group">
                <label for="urlImagen">Imagen</label>
                <input type="url" formControlName="url_imagen"  class="form-control" [(ngModel)]="urlEstudio" id="url_imagen" placeholder="Ingresa la URL de la imagen" [ngClass]="{'is-invalid': UrlImagen?.errors && UrlImagen?.touched, 
                'is-valid': !UrlImagen?.errors && UrlImagen?.touched}" >
                <div *ngIf="UrlImagen?.hasError && UrlImagen?.touched">
                    <p *ngIf="UrlImagen?.hasError('pattern')" class="text-danger">
                        La Url de la imagen es requerida
                    </p>      
                </div>                
            </div>
            <div hidden class="form-group">
                <label for="personaId">Persona</label>
                <input type="number" formControlName="personaId" #personaId class="form-control" [(ngModel)]="idPersona" id="personaId">                 
            </div>  
            <div><br></div>            
            <div class="modal-footer">
                <p *ngIf="isupdated==true" class="text-success-emphasis">Registro Agregado!!!</p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                <button type="submit" class="btn btn-primary" [hidden]="isupdated">Guardar</button>
              </div>        
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalME" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Estudios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form" id="modEditarEstu" (ngSubmit)="onAgregar($event)">
                <div class="form-group">
                    <label for="personaId">ID</label>
                    <input type="number" formControlName="id" class="form-control" [(ngModel)]="idEstudio" id="id">                 
                </div>   
                <div class="form-group">                
                  <label for="titulo">Título</label>
                  <input type="text"  formControlName="titulo" [(ngModel)]="titEstudio" [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 
                  'is-valid': !Titulo?.errors && Titulo?.touched}"  class="form-control"  id="titulo" placeholder="Ingresa el título">
                  <div *ngIf="Titulo?.hasError && Titulo?.touched">
                      <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                          El titulo es requerido
                      </p>
                      <p *ngIf="Titulo?.hasError('minlength')" class="text-danger">
                          Debe ingresar mínimo 5 caracteres
                      </p>
                      <p *ngIf="Titulo?.hasError('maxlength')" class="text-danger">
                          Debe ingresar máximo 250 caracteres
                      </p>                    
                  </div>
              </div>
              <div class="form-group">
                  <label for="titulo">Descripción</label>
                  <input type="text" formControlName="descripcion" [(ngModel)]="desEstudio"  class="form-control" id="descripcion" placeholder="Ingresa la descripción" [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 
                  'is-valid': !Descripcion?.errors && Descripcion?.touched}">
                  <div *ngIf="Descripcion?.hasError && Descripcion?.touched">
                      <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                          La Descripción es Requerida
                      </p>
                      <p *ngIf="Descripcion?.hasError('minlength')" class="text-danger">
                          Debe ingresar mínimo 5 caracteres
                      </p>
                      <p *ngIf="Descripcion?.hasError('maxlength')" class="text-danger">
                          Debe ingresar máximo 250 caracteres
                      </p>                    
                  </div>                
              </div>
  
              <div class="form-group">
                  <label for="urlImagen">Imagen</label>
                  <input type="url" formControlName="url_imagen" [(ngModel)]="urlEstudio"  class="form-control" id="url_imagen" placeholder="Ingresa la URL de la imagen" [ngClass]="{'is-invalid': UrlImagen?.errors && UrlImagen?.touched, 
                  'is-valid': !UrlImagen?.errors && UrlImagen?.touched}" >
                  <div *ngIf="UrlImagen?.hasError && UrlImagen?.touched">
                      <p *ngIf="UrlImagen?.hasError('pattern')" class="text-danger">
                          La Url de la imagen es requerida
                      </p>      
                  </div>                
              </div>
              <div hidden class="form-group">
                  <label for="personaId">Persona</label>
                  <input type="number" formControlName="personaId" class="form-control" [(ngModel)]="idPersona" id="personaId">                 
              </div>     
              <div><br></div>         
              <div class="modal-footer">
                  <p *ngIf="isupdated==true" class="text-success-emphasis">Registro Actualizado!!!</p>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                  <button type="submit" class="btn btn-primary" [hidden]="isupdated">Guardar</button>
                </div>        
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEE" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Estudio</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form [formGroup]="form" id="modEliEstu" (ngSubmit)="onEliminar(idEstudio)">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" formControlName="id" class="form-control" [(ngModel)]="idEstudio" id="id" readonly>                 
                </div>   
                <div class="form-group">                
                  <label for="titulo">Título</label>
                  <input type="text"  formControlName="titulo" class="form-control" [(ngModel)]="titEstudio" id ="titulo" readonly>
              </div>
              <div><br></div>  
                <div class="modal-footer">
                    <p *ngIf="isupdated==true" class="text-success-emphasis">Registro Eliminado</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                    <button type="submit" class="btn btn-danger" [hidden]="isupdated">Eliminar</button>
                </div>        
          </form>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="modalAEx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()"></button>
        </div>
        <div class="modal-body">
              <form [formGroup]="formex" id="modAgregarEx" (ngSubmit)="onAgregarEx($event)">
              <div class="form-group">
                  <div hidden class="form-group">
                      <label for="personaId">ID</label>
                      <input type="number" formControlName="id" class="form-control" [(ngModel)]="idExperiencia" id="id">                 
                  </div>                   
                  <label for="titulo">Título</label>
                  <input type="text"  formControlName="titulo"  [(ngModel)]="titExperiencia" [ngClass]="{'is-invalid': TituloEx?.errors && TituloEx?.touched, 
                  'is-valid': !TituloEx?.errors && TituloEx?.touched}"  class="form-control"  id="titulo" placeholder="Ingresa el título">
                  <div *ngIf="TituloEx?.hasError && TituloEx?.touched">
                      <p *ngIf="TituloEx?.hasError('required')" class="text-danger">
                          El titulo es requerido
                      </p>
                      <p *ngIf="TituloEx?.hasError('minlength')" class="text-danger">
                          Debe ingresar mínimo 5 caracteres
                      </p>
                      <p *ngIf="TituloEx?.hasError('maxlength')" class="text-danger">
                          Debe ingresar máximo 250 caracteres
                      </p>                    
                  </div>
              </div>
              <div class="form-group">
                  <label for="porcentaje">Porcentaje</label>
                  <input type="number" formControlName="porcentaje" [(ngModel)]="porExperiencia" class="form-control" id="porcentaje" placeholder="Ingresa el porcentaje" [ngClass]="{'is-invalid': Porcentaje?.errors && Porcentaje?.touched, 
                  'is-valid': !Porcentaje?.errors && Porcentaje?.touched}">
                  <div *ngIf="Porcentaje?.hasError && Porcentaje?.touched">
                      <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                          El Porcentaje es Requerido
                      </p>
                      <p *ngIf="Porcentaje?.hasError('min')" class="text-danger">
                          Debe ingresar mínimo 1
                      </p>
                      <p *ngIf="Porcentaje?.hasError('max')" class="text-danger">
                          Debe ingresar máximo 100
                      </p>                    
                  </div>                
              </div>
              <div hidden class="form-group">
                  <label for="personaId">Persona</label>
                  <input type="number" formControlName="personaId" #personaId class="form-control" [(ngModel)]="idPersona" id="personaId">                 
              </div>  
              <div><br></div>            
              <div class="modal-footer">
                  <p *ngIf="isupdated==true" class="text-success-emphasis">Registro Agregado!!!</p>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                  <button type="submit" class="btn btn-primary" [hidden]="isupdated">Guardar</button>
                </div>        
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalMEx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()"></button>
        </div>
        <div class="modal-body">
              <form [formGroup]="formex" id="modModificarEx" (ngSubmit)="onAgregarEx($event)">
                <div class="form-group">
                    <label for="personaId">ID</label>
                    <input type="number" formControlName="id" class="form-control" [(ngModel)]="idExperiencia" id="id">                 
                </div>  
                <div class="form-group">
                                   
                  <label for="titulo">Título</label>
                  <input type="text"  formControlName="titulo" [(ngModel)]="titExperiencia" [ngClass]="{'is-invalid': TituloEx?.errors && TituloEx?.touched, 
                  'is-valid': !TituloEx?.errors && TituloEx?.touched}"  class="form-control"  id="titulo" placeholder="Ingresa el título">
                  <div *ngIf="TituloEx?.hasError && TituloEx?.touched">
                      <p *ngIf="TituloEx?.hasError('required')" class="text-danger">
                          El titulo es requerido
                      </p>
                      <p *ngIf="TituloEx?.hasError('minlength')" class="text-danger">
                          Debe ingresar mínimo 5 caracteres
                      </p>
                      <p *ngIf="TituloEx?.hasError('maxlength')" class="text-danger">
                          Debe ingresar máximo 250 caracteres
                      </p>                    
                  </div>
              </div>
              <div class="form-group">
                  <label for="porcentaje">Porcentaje</label>
                  <input type="number" formControlName="porcentaje" [(ngModel)]="porExperiencia" class="form-control" id="porcentaje" placeholder="Ingresa el porcentaje" [ngClass]="{'is-invalid': Porcentaje?.errors && Porcentaje?.touched, 
                  'is-valid': !Porcentaje?.errors && Porcentaje?.touched}">
                  <div *ngIf="Porcentaje?.hasError && Porcentaje?.touched">
                      <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                          El Porcentaje es Requerido
                      </p>
                      <p *ngIf="Porcentaje?.hasError('min')" class="text-danger">
                          Debe ingresar mínimo 1
                      </p>
                      <p *ngIf="Porcentaje?.hasError('max')" class="text-danger">
                          Debe ingresar máximo 100
                      </p>                    
                  </div>                
              </div>
              <div hidden class="form-group">
                  <label for="personaId">Persona</label>
                  <input type="number" formControlName="personaId" #personaId class="form-control" [(ngModel)]="idPersona" id="personaId">                 
              </div>  
              <div><br></div>            
              <div class="modal-footer">
                  <p *ngIf="isupdated==true" class="text-success-emphasis">Registro Modificado!!!</p>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                  <button type="submit" class="btn btn-primary" [hidden]="isupdated">Guardar</button>
                </div>        
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEEx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()"></button>
        </div>
        <div class="modal-body">
              <form [formGroup]="formex" id="modModificarEx" (ngSubmit)="onEliminarEx(idExperiencia)">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" formControlName="id" class="form-control" [(ngModel)]="idExperiencia" id="id">                 
                </div>  
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text"  formControlName="titulo" [(ngModel)]="titExperiencia" class="form-control"  id="titulo" readonly>
                </div>
                <div><br></div>         
                <div class="modal-footer">
                  <p *ngIf="isupdated==true" class="text-success-emphasis">Registro Eliminado!!!</p>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changeisUpdate()">Cerrar</button>
                  <button type="submit" class="btn btn-danger" [hidden]="isupdated">Eliminar</button>
                </div>        
          </form>
        </div>
      </div>
    </div>
  </div>