<div id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-content">
                    <div class="row">
                        <div *ngFor="let estudios of listaEstudios" class="col-lg-3">

                            <div class="features-item  wow fadeInUp" data-wow-duration="1s"
                                data-wow-delay="2s">                        
                                <div class="first-number number">
                                    <h6>{{estudios.id}}</h6>
                                </div>
                                <div class="icon" style="background-image: url({{estudios.url_imagen}});background-size: cover;"></div>
                                <h4>{{estudios.titulo}}</h4>
                                <div class="line-dec"></div>
                                <p>{{estudios.descripcion}}</p>
                                <div class="line-dec"></div>
                                <div *ngIf="modoEdit">
                                <i class="icon-copy fa fa-plus" href="#" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"
                                    style="cursor:pointer; cursor: hand"></i>
                                <a> | </a>
                                <i class="icon-copy fa fa-pencil" href="#" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar"
                                    style="cursor:pointer; cursor: hand"></i>
                                <a> | </a>
                                <i class="icon-copy fa fa-trash" href="#" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                    style="cursor:pointer; cursor: hand"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="skills-content">
                    <div class="row">
                        <div *ngFor="let experiencia of listaExperiencia" class="col-lg-3">
                            <div *ngIf="modoEdit">
                            <i class="icon-copy fa fa-plus" href="#" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"
                                style="cursor:pointer; cursor: hand"></i>
                            <a> | </a>
                            <i class="icon-copy fa fa-pencil" href="#" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar"
                                style="cursor:pointer; cursor: hand"></i>
                            <a> | </a>
                            <i class="icon-copy fa fa-trash" href="#" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                style="cursor:pointer; cursor: hand"></i>
                            </div>
                            <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="progress" data-percentage="100">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">
                                        <div>
                                            {{experiencia.porcentaje}}%<br>
                                            <span>{{experiencia.titulo}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>