<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkcyan; height: 150;">
    <div class="container-fluid"> 
      <a href="index.html" class="">
            <h4><img [src]="miPortfolio.url_foto" alt="" style="width: 75px; height: 75px; border-radius: 50px;">  </h4>
      </a>    
      <a class="navbar-brand" routerLink="" href="index.html" > <h4 style="padding-left: 5px;"> <strong>{{miPortfolio.nombre}} {{miPortfolio.apellido}}</strong> </h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a href="#top" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#features" class="nav-link">Estudios</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre de mi</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Servicios</a>
          </li>    
          <li class="nav-item">
            <a href="#portfolio" class="nav-link">Portafolio</a>
          </li>  
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contactame</a>
          </li>                      
          
        </ul>
        <section class="buttons">
          <img src="assets/images/arg-programa.png" alt="" style="width: 150px; height: 50px;">
          <a href="https://www.facebook.com/josman.j.perez" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/josmanjp07/" class="fa fa-instagram"></a>
          <a href="https://www.youtube.com/channel/UCIyuqYjoejB5SgFOcyP6FFw" class="fa fa-youtube"></a>
        </section>
        <div style="text-align: center;">
          
          <button *ngIf="!modoEdit" class="btn btn-outline-info" type="submit" ><a class="nav-link" style="color:white;"  href="login">Iniciar Sesión</a></button>
          <button *ngIf="modoEdit" class="btn btn-outline-info" type="submit" ><a class="nav-link" style="color:white;"  href="login">Cerrar Sesión</a></button>
        </div>
      </div>
    </div>
  </nav>
</header>