.buttons {
    min-width: 50px;
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #91b297;
    color: #0e4e23;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }